<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wodr Otter</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <%= yield %>

    <script src="/javascripts/scripts.js" charset="utf-8"></script>
  </body>
</html>
