<div id='smash-board'>

  <h1 id='taunt'>Can you keep less than 100 shells on the screen at one?</h1>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>
<script src="/javascripts/smash/shell.js" charset="utf-8"></script>
<script src="/javascripts/smash/app.js" charset="utf-8"></script>
